a:hover {
    color:red
}

* {
    font-family: cursive;
    text-align: center;
}

.toc a {
    color:lightgreen
}

.toc a:hover {
    color:blue
}

.uses ol {
    color: blue
}

#skull {
    font-family: monospace;
}

.list1 {
    color: green
}

.hfooter a {
    color:purple
}

.hfooter a:hover {
    color:blue
}

.ewia h2,
    p,
      a {
    color:blue
    }

.ewia a:hover {
    color:turquoise
}

.important {
    border: 2px dashed red;
    margin: 0 auto;
}