a:hover {
    color:red
}

* {
    font-family: cursive
}

.toc a {
    color:lightgreen
}

.toc a:hover {
    color:blue
}

.uses ol {
    color: blue
}

#skull {
    font-family: monospace;
}

.list1 {
    color: green
}

.hfooter a {
    color:purple
}

.hfooter a:hover {
    color:blue
}